# Nuxt dev/build outputs
public/data
.output
.data
.nuxt
.nitro
.cache
.vscode
dist


# Node dependencies
node_modules
pages
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example